<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="VariableName" value="100" />
		<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\adama\OneDrive\Dokumenty\programz\BookRegistry\data\library_db.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True" />
	</appSettings>
</configuration>